*{
    margin: 0px;
    padding: 0px;
}
/* --------------------- */
#baner{
    width: 100%;
    height: auto;
}
#LeftContainer{
    width: 20%;
    height: auto;
}
#CenterContainer{
    width: 60%;
    height: auto;
}
#RightContainer{
    width: 20%;
    height: auto;
}
#SpinButton{
    width: 50%;
    height: 50px;
    display: block;
    margin: auto;

    border: 0px;
    background-color: blue;
    font-family: 'Lilita One', cursive;
    font-size: 25px;
}
#SpinButton:active{
    background-color: royalblue;
}
/* --------------------- */



/* --------------------- */
body{
    background-color: black;
    font-family: 'Lilita One', cursive;
}
main{
    width: 100%;
    height: auto;

    margin: 0px;
    padding: 0px;

    display: flex;
    align-items: flex-start;
}
footer{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;

    background-color: rgb(19, 21, 31);
    color: rgb(255, 255, 255);
}
#points{
    color: rgb(160, 0, 0);
}
div#LeftContainer > img{
    width: 100%;
    height: 100%;
    float: left;

    padding: 0px;
}
div#RightContainer > img{
    width: 100%;
    height: 100%;
    right: 0px;

    padding: 0px;
}
.RandomPicture{
    display: block;
    width: 23%;
    height: 300px;
    margin: 1%;
    box-sizing: border-box;
    
    float: left;
}

.RandomPicture > img
{
    width: 100%;
    height: 100%
}
p{
    color: white;
    font-size: 30px;
}
#pointsTable{
    text-align: center;
}